<h1>Listing Photos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Photo</th>
    </tr>
  </thead>
  <tbody>
  <% @photos.each do |photo| %>
    <tr>
      <td><%= link_to photo.description, photo_path(photo) %></td>
      <td><%= link_to image_tag(photo.photo_url(:thumb)), photo_path(photo) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<% if user_signed_in? %>
  <%= link_to 'New Photo', new_photo_path, class: 'btn' %>
<% end %>
